#waybar.top {
  background: none;
}
#waybar.top > box.horizontal {
  background: #3c3836;
  box-shadow: 0 0 4pt #282828;
  border-radius: 8pt;
  border: 2px solid #665c54;
  margin-top: 7pt;
  margin-bottom: 0pt;
  margin-left: 4pt;
  margin-right: 4pt;
  padding: 2pt;
}

#custom-rofi {
  margin-left: 7pt;
  padding-right: 3pt;
  font-size: 12pt;
}

#workspaces {
  margin-left: 9pt;
}
#workspaces button {
  color: #585b70;
}
#workspaces button:not(:first-child) {
  margin-left: 2pt;
}
#workspaces button.visible {
  color: #89b4fa;
}
#workspaces button.active {
  color: #EE781B;
}
#workspaces button:hover, #workspaces button:focus {
  background: none;
  border-color: transparent;
  box-shadow: none;
}
#workspaces button:hover:not(.active):not(.visible), #workspaces button:focus:not(.active):not(.visible) {
  color: #9399b2;
}

#window {
  color: #7c6f64;
  margin-left: 15pt;
  margin-right: 20pt;
}

#clock {
  color: #98971a;
}

#memory {
  color: #fe8019;
  margin-right: 12pt;
}

#network {
  color: #D3869B;
  margin-right: 12pt;
}

#tray {
  margin-right: 10pt;
}
#tray menu {
  background: #1e1e2e;
  padding: 2pt;
}
#tray menu * {
  margin: 2pt;
}
#tray menu check {
  margin-right: 4pt;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #cdd6f4;
  }
}
#backlight {
  color: #D3869B;
  margin-right: 10pt;
}

#pulseaudio {
  color: #83A598;
  margin-right: 10pt;
}

#battery {
  color: #B8BB26;
  margin-right: 15pt;
}

#battery.full,
#battery.good,
#battery.charging,
#battery.plugged {
  color: #a6e3a1;
}

#battery.critical:not(.charging) {
  color: #f38ba8;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-color-picker {
  color: #EBDBB2;
  margin-right: 18pt;
  font-size: 9pt;
}

#custom-screenshot {
  color: #EBDBB2;
  margin-right: 18pt;
  font-size: 10pt;
}

#custom-wallpaper {
  color: #EBDBB2;
  margin-right: 16pt;
  font-size: 12pt;
}

#custom-power {
  color: #EBDBB2;
  margin-right: 11pt;
  font-size: 10pt;
}


* {
  margin: 0;
  padding: 0;
  font-family: "Cousine Nerd Font";
  font-size: 11pt;
  font-weight: 600;
  transition-property: background;
  transition-duration: 0.5s;
}

tooltip {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 5pt;
}

